@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  height: 100vh;
  margin: auto;

  main {
    position: relative;
    width: 100%;
    height: 100%;

    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-attachment: fixed;
      filter: blur(5px);
      z-index: 1;
    }

    .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;

      h1 {
        text-align: center;
        margin: 5rem;
        font-size: 4rem;
        color: #c96f2a;
      }

      .buttons {
        display: flex;
        justify-content: space-around;
        width: 70%;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10rem;
          height: 10rem;
          border: 1px solid azure;
          border-radius: 10px;
          background-size: cover;
          transition: all 0.2s;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
            transform: scale(1.05);
          }
        }

        .summer {
          background-image: url('./assets/summer-bg.jpg');
          .sun {
            width: 4rem;
            height: 4rem;
            background-size: cover;
          }
        }

        .rainy {
          background-image: url('./assets/rainy-bg.jpg');
          .rain {
            width: 4rem;
            height: 4rem;
            background-size: cover;
          }
        }

        .winter {
          background-image: url('./assets/winter-bg.jpg');
          .snow {
            width: 4rem;
            height: 4rem;
            background-size: cover;
          }
        }
      }
      .volume_control {
        margin-top: 2rem;
        width: 12rem;
      }
    }
  }
}
